* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 20px 30px;
}

h1 {
    font-size: 2.5rem;
}

.subtitle {
    font-weight: 700;
    font-size: 1.5rem;
}

.content {
    font-size: 1.5rem;
    text-align: justify;
}